head{
    background-color: "lightblue";
}
body {
    color: "blue";
}
button {
    background-color: "pink";
    text-align: "center";
}
h3,h4 {
    font-family: "Oswald";
    font-weight: bold;
}
p{
    font-family: "Oswald";
    font-size: 20px;
}